*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 95%;
    margin: 30px auto;
    background-color: white;
    display:flex;
    gap:30px;
    height: 60px;
    align-items: center;
    padding: 0px 20px;
    border-radius: 20px;
    justify-content: space-between;
}

nav li{
    list-style:none;
}

nav li a{
    text-decoration:none;
    color: #444;
    font-size: 20px;
    text-transform: capitalize;
}

nav .nav-links{
    display: flex;
    gap: 20px;
}

nav button{
    width: 160px;height: 40px;
   background: #922a9b;
background: linear-gradient(173deg, rgba(146, 42, 155, 1) 32%, rgba(0, 123, 255, 1) 100%);
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
}



/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}