*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration-form{
    width: 400px;
    height: auto;
    background-color: bisque;
    margin: 40px auto ;
    padding: 30px;
    border-radius: 20px;
}
.registration-form h1{
    
    margin-bottom: 20px;
}

.registration-form .input-box{
    margin-bottom: 10px;
}

.registration-form .input-box p{
    margin-bottom: 5px;
}

.registration-form .input-box input{
    width: 100%;
    height: 30px;
    padding-left: 15px;
}

.registration-form .input-box button{
    width: 100%;
    background-color: purple;
    color: white;
    height: 40px;
}