*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social{
    padding: 40px;
}

.social a{
    background-color: crimson ;
    padding: 10px;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.5s ease-in;
}

.social a:hover{
    background-color: teal;
    border-radius: 15px;
}