*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

.card{
    width: 300px;
    height: auto;
    background-color: lightpink;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}


.cart{
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    color: white;

    
}

.card h1{
  margin: 10px 0px;
}

.card img{
    width: 100%;
    height: 200px;
}

.buy-now{
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    margin-top: 10px;
}

.bx-cart{
    font-size: 25px;
}