*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
 background: #922a9b;
background: linear-gradient(232deg, rgba(146, 42, 155, 1) 32%, rgba(217, 135, 4, 1) 77%, rgba(83, 157, 237, 1) 100%);
}

.bg-color{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    margin: 50px auto;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border: 10px solid crimson;
    overflow: hidden;
}
.bg-color img{
    width: 100%;
    height: 100%;
      border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

h1{
    text-align: center;
    color: turquoise;
}