
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 600px;
    height: 500px;
    background-color: coral;
    margin: 50px auto;
    padding: 10px;
}

.box .small-box{
    width: 100%;
    height: 400px;
    background-color: yellow;
}