*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    color: white;
    width: 100%;
    height: auto;

    padding: 10px 30px;
}


header nav{
  width: 100%;
  display: flex;
  align-items: center;
  gap:30px;
  padding: 10px 0px;
}

header nav li{
    list-style: none;

}

header nav li a{
        color: white;
}
main{
    background-color: lightgray;
    padding: 30px;
}


footer{
    background-color: darkblue;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
